.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Adjust width as needed */
    width: 250px;
    height: 100vh;
    background-color: #f0f0f0;
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.show {
    transform: translateX(0);
  }